
@model IEnumerable<Assignment_P3.Models.Coin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaseAsset)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuoteAsset)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Volumn24h)
        </th>
        <th>
            Market
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name) - @item.BaseAsset/@item.QuoteAsset
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseAsset)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteAsset)
            </td>
            <td>
                @item.LastPrice.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("en-au"))
            </td>
            <td>
                @item.Volumn24h.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("en-au"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Market.Name)
            </td>
        </tr>
    }

</table>